
<%- include('header')-%>
    

<!-- <div class="text-center center-div" id="login">
    <div class="container w-25 border py-5">
        <div class="title pb-5">
            <h2 class="font-weight-bold text-white" style="color: aliceblue;">Login</h2>
            <span class="text-white" style="color: aliceblue;">Log in for the existing user</span>
            <% if(locals.logout){%>
               <div class="alter alert-warning text-center">
                    <%= logout %>
               </div> 
            <% } %>
        </div>
        <form action="/route/login" method="post" class="pt-2">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="email" name="email" id="">
                <small class="form-text text-muted text-left" style="color: aliceblue;">Register email address</small>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="password" name="password" id="">
            </div>
            <button type="submit" class="btn btn-warning rounded-pill mt-4">Login</button>
        </form>
    </div>
</div> -->

<div class="wrapper">
    <form action="/route/login" method="post">
        <h1>Login</h1>
        <h5 class="subhead" style="color: aliceblue;">Log in for the existing user</h5>
        <div class="input-box">
            <input type="email" placeholder="Enter Email" name="email" required>
            <i class='bx bx-envelope'></i>

        </div>
        <div class="input-box">
            <input type="password" placeholder="Enter Password" name="password" required>
            <i class='bx bx-lock-alt'></i>

        </div>
        <% if(locals.logout){%>
            <div class="alter alert text-center">
                 <%= logout %>
            </div> 
         <% } %>
        <button type="submit" class="btn">Login</button>
    </form>
    <br>
</div>

    <%- include('footer')-%>
