<%- include('header')-%>
 
<div class="wrapper" id="login">
    <form action="">
    <!-- <div class="container w-25 border py-5 mt-5"> -->
        <h1>Welcome</h1>
        <br>
        <h5 class="subhead" style="font-weight: 600;">Nice to meet you here...</h5>
        <h6 class="subhead" style="font-size: 12px;"><%=locals.user?user:"User"%></h6>
        <br>
        <br>
        <a class="btn" href="/route/Logout">Logout</a>
    <!-- </div> -->
</form>
</div>

<%- include('footer')-%>